@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Paradose";
  src: url("./assets/fonts/Paradose.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Texterius";
  src: url("./assets/fonts/Texterius.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
